ul li {
  display: inline;
  float: right;
  text-decoration: none;
  margin-top: 1.5%;
  font-family: lobster; }

a {
  text-decoration: none;
  color: #EBA348; }

.body {
  min-height: 50px; }

.header {
  height: 150px;
  background-color: #4182E9; }
  .header .logo {
    height: 60px;
    width: 60px;
    display: inline;
    float: left;
    margin-left: 5%;
    margin-top: 5%; }

.loginInfo {
  display: inline;
  height: 100px;
  width: 300px; }
  .loginInfo .username {
    width: 150px;
    height: 20px;
    float: right;
    clear: both;
    margin-right: 1.5%;
    background-color: #06C6E7;
    text-align: center;
    border-radius: 5px;
    margin-top: -20px; }
  .loginInfo .password {
    width: 150px;
    height: 20px;
    float: right;
    clear: both;
    margin-right: 1.5%;
    margin-top: .25%;
    background-color: #06C6E7;
    text-align: center;
    border-radius: 5px; }
  .loginInfo .loginButton {
    float: right;
    margin-left: 0;
    margin-right: 1.5%;
    border-radius: 5px;
    height: 20px;
    width: 60px;
    line-height: 8px;
    font-family: lobster;
    color: #19A228;
    background-color: #1B6396; }

#footer {
  height: 150px;
  background-color: #4182E9; }

.scoreDB {
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  min-width: 150;
  border-radius: 5px;
  border: 2px solid #d6d6d6; }

.postDB {
  height: 25px;
  color: #19A228;
  background-color: #1B6396;
  width: 120px;
  display: inline;
  float: left;
  margin-top: 1.5%;
  border-radius: 5px; }

.playDB {
  height: 25px;
  color: #19A228;
  background-color: #1B6396;
  width: 120px;
  display: inline;
  float: right;
  margin-top: 1.5%;
  border-radius: 5px; }

.logoutDB {
  clear: both;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  margin-bottom: 4%; }

.logout1DB {
  clear: both;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  text-align: center;
  color: #19A228;
  background-color: #1B6396;
  border-radius: 5px;
  margin-bottom: 4%; }
