// Test, not permanent
// * {
// 	border: 1px solid black;
// }
// Color Variables
$bodyblue: #4182E9;
$font: #EBA348;
$button: #19A228;
$buttonBG: #1B6396;
$inputBG: #06C6E7;
// Elements 

ul li {
	display: inline;
	float: right;
	text-decoration: none;
	margin-top: 1.5%;
	font-family: lobster;
}

a {
	text-decoration: none;
	color: $font;
}

// Classes

.body {
	min-height: 50px;
}

.header {
	height: 150px;
	background-color: $bodyblue;


	.logo {
		height: 60px;
		width: 60px;
		display: inline;
		float: left;
		margin-left: 5%;
		margin-top: 5%;
	}

	// .logo2 {
	// 	width: 500px;
	// 	display: inline;
	// 	margin-right: auto;
	// 	margin-left: 0%;
	// }
}

.loginInfo {
	display: inline;
	height: 100px;
	width: 300px;

	.username {
		width: 150px;
		height: 20px;
		float: right;
		clear: both;
		margin-right: 1.5%;
		background-color: $inputBG;
		text-align: center;
		border-radius: 5px;
		margin-top: -20px;
	}

	.password {
		width: 150px;
		height: 20px;
		float: right;
		clear: both;
		margin-right: 1.5%;
		margin-top: .25%;
		background-color: $inputBG;
		text-align: center;
		border-radius: 5px;
	}

	.loginButton {
		float: right;
		margin-left: 0;
		margin-right: 1.5%;
		border-radius: 5px;
		height: 20px;
		width: 60px;
		line-height: 8px;
		font-family: lobster;
		color: $button;
		background-color: $buttonBG;
	}
}

#footer {
	height: 150px;
	background-color: $bodyblue;
}

